html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */
/*  */
/*  */
/* Di atas css Reset */

body{
    background-color: #eaeaea;
    font: 16px/19px arial, sans-serif;
    color: #2a3132; /* warna tulisan semuanyaa */
}


.header{
    display: inline-block;
    padding: 15px;
    width: 100%;
    background-color: #343a40;
}

.header .searching{
    float: right;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .nama_rental {
        width: 100%;
        height: auto;
        text-align: center;
    }
}

@media (max-width: 600px) {
     .searching {
        width: 100%;
    margin-top: 25px;
    margin-left: 25px;
    height: auto;
    }
}


.header .nama_rental{
    color: #eaeaea;
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin: 5px;
    padding-top: 2px;
}

.searching{
    display: inline-block;
}

.footer1{
    background-color: #6c757d;
    padding: 15px;
}

.footer1 div{
    text-align: center;
    color: #eaeaea;
}




.footer{
    background-color: #343a40;
    padding: 15px;
}

.footer p{
    text-align: center;
    color: #eaeaea;

}

/** CLEARFIX

 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }


 /* CSS BAGIAN ADMIN */
